<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>后台登录</title>
<script type="text/javascript" src="/xplan_backend/Plan_admin/public/jquery/jquery-1.4.js"></script>
<style type="text/css">
body{

	font-family: 微软雅黑;
}
#head{
	font-size: 18px;
	font-family: 微软雅黑;
}
table{
	 margin-top: 120px;
}

#sub{
	width:60px;
	height:30px;
	background: url("/xplan_backend/Plan_admin/public/images/button.jpg") no-repeat -100px;
	border:none;
	border-radius: 20px;
	outline:none;
	cursor: pointer;
}

#verify{
	display:inline-block;
	vertical-align:middle;
}

img{
	vertical-align:middle;
}
</style>
<script type="text/javascript">

function checkLogin(){
	var username=$("#username").val();
	var password=$("#password").val();
	var verify=$("#verify").val();
	if(username==""){
		alert("用户名不能为空！");
		$("#username").focus();
		return false;
	}else if(password==""){
		alert("密码不能为空！");
		$("#password").focus();
		return false;
	}else if(verify==""){
		alert("验证码不能为空！");
		$("#verify").focus();
		return false;
	}

}
function refreshImage(){
	var imageEle = document.getElementById('verifyImage');
	imageEle.src = '/xplan_backend/Plan_admin/index.php/home/Login/verify/rnd/' + (new Date()).getTime();
}
</script>
</head>
<body>
<div>
<img style="position:absolute;left:0px;top:0px;width:100%;height:100%;z-Index:-1;" src="/xplan_backend/Plan_admin/public/images/background1.jpg" />
</div>
	<form name="form" action="/xplan_backend/Plan_admin/index.php/home/Login/login" onsubmit="return checkLogin()" method="post">
	<table border="1px solid black" width="500" height="300" cellpadding="5" cellspacing="0" align="center">
		<tr align="center">
			<td colspan="2"><b id="head">PLAN后台登录</b></td>
		</tr>
		<tr>
			<th>用户名：</th>
			<td><input type="text" id="username" name="username"></td>
		</tr>
		<tr>
			<th>密码：</th>
			<td><input type="password" id="password" name="password"></td>
		</tr>
		<tr>
			<th>验证码：</th>
			<td>
				<input type="text" id="verify" name="verify">
				<a href="#" onclick="refreshImage()"><img alt="看不清，换一张" title="看不清，换一张" id="verifyImage" src="/xplan_backend/Plan_admin/index.php/home/Login/verify"></a>
			</td>
		</tr>
		<tr  align="center">
			<td colspan="2">
				<input type="submit" value="登录" id="sub">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="reset" value="取消" id="sub">
			</td>
		</tr>
	</table>
	</form>
</body>
</html>